# Виртуальное окружение
venv/
.venv/
env/

# Байткод
__pycache__/
*.py[cod]

# Переменные окружения (пароли, ключи API)
.env

# Настройки редакторов
.vscode/
.idea/

# Яйца и дистрибутивы
*.egg-info/
dist/
build/
docs/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
